<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-toolbar>Parking MS</mat-toolbar>
    <mat-nav-list>
      @for (item of navigation; track item) {
      <a mat-list-item [routerLink]="[item.url]" [ngClass]="{'selected': item.isActive}">{{ item.name }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{currentPage}}</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
