<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-toolbar>DataVanced</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']" routerLinkActive="router-link-active">Dashboard</a>
      <a mat-list-item [routerLink]="['/parking-entry']" routerLinkActive="router-link-active">Parking Entry</a>
      <a mat-list-item [routerLink]="['/parking-list']" routerLinkActive="router-link-active">Parking List</a>
      <a mat-list-item [routerLink]="['/settings']" routerLinkActive="router-link-active">Settings</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
