.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  border-right: 0.5px solid white;
}

.content {
  padding: 16px;
}

mat-toolbar {
  border-bottom: 1px solid white;
}

.selected {
  font-weight: bold;
  color: #1976d2; /* Adjust color as needed */
  background-color: rgba(169, 165, 165, 0.272);
}
