.table-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

form input {
  margin: 5px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: grey;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e2e2e2;
}
